<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Music</h1>
    
    <% Playlist.forEach(function(music){ %>
        <h3><%= music.file.originalname %></h3>
        <audio name="<%= music.file.originalname %>" controls 
            ontimeupdate="timeUpdate(this);">
            
            <source src="uploads/<%= music.file.filename %>" type="audio/mpeg">
                
        </audio>
        <span  class="currentTime" name="<%= music.file.originalname %>">0:00</span>
        <span  class="duration" name="<%= music.file.originalname %>"> / 0:00</span>
        <button class="play" name="<%= music.file.originalname %>">Play</button>
        <button class="pause" name="<%= music.file.originalname %>">Pause</button>
        <button class="forward" name="<%= music.file.originalname %>">+</button>
        <button class="backward" name="<%= music.file.originalname %>">-</button>
        <button class="speedup" name="<%= music.file.originalname %>">Speed Up</button>
        <button class="speeddown" name="<%= music.file.originalname %>">Speed Down</button>
        
        <br>
        <input type="range" class="duration" min="0" max="500" step="5" value="0" name="<%= music.file.originalname %>">
        <input type="range" class="volume" min="0" max="1" step="0.01" value="0.5" name="<%= music.file.originalname %>">
    <%});%>
    <button><a href="/add">Add</a></button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>