<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= playlistName %></title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/style1.css">

</head>
<body>
        <!-- html for overlay content -->
        <div id="myNav" class="overlay">
            
            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          
            <!-- Overlay content -->
            <div class="overlay-content">
                <%Playlistrecord.forEach(function(obj){%>
                    <a href="/music/<%=obj.playlistName%>"><%=obj.playlistName%></a>
                <%});%>
                <button class="ghost" onclick="create()">Create Playlist</button>
                <div id="insert" class="overlay-content">

                </div>
            </div>
          
          </div>
          
          <!-- Use any element to open/show the overlay navigation menu -->
          




    <div class="mynav">
        <h2 class="currentPlaybackSpeed">0x</h2>
        <a class="navbar-brand" href="/">
            <div>
                <img src="/images/mainLogo.png" width="500" height="100" class="d-inline-block align-top" alt="">
            </div>
            
            
          </a>
          <div class="playlists">
            <a href="/add/<%= playlistName %>"><button type="button" class="btn btn-outline-light">Add</button></a>
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <%= playlistName %></span>          
            
          </div>
         
          
          
    </div>
    
    <% var i = 0; %>
    <% Playlist.forEach(function(music){ %>
        <% i++; %>
        <div class="mycontainer" id="song<%= i %>">
                <div class="image">
                    
                    <audio name="<%= music.file.originalname %>" 
                        ontimeupdate="timeUpdate(this);" oncanplaythrough="myOnCanPlayThroughFunction(this)"
                        onloadeddata="myOnLoadedData(this)" >
                        
                        <source src="/uploads/<%= music.file.filename %>" type="audio/mpeg">
                            
                    </audio>
                        <figure>
                            <div class="img-hover-zoom img-hover-zoom--slowmo" style="border-radius: 5px;">
                                <img class="slides" src="/uploads/<%= music.image.filename %>" />
                            </div>
                            
                        </figure> 
                </div>
                <div class="controls">

                        <div class="duration">
                            
                            <form style="--val: 0" class="duration" name="<%= music.file.originalname %>">
                                <input type="range" id="r" class="duration" min="0" max="500" step="0.01" value="0" name="<%= music.file.originalname %>">
                                
                              </form>
                            
                        </div>
                        <div class="time">
                            <span  class="currentTime" name="<%= music.file.originalname %>">0:00</span>
                            <span  class="duration" name="<%= music.file.originalname %>"> / 0:00</span>
                        </div>
                        <div class="controlbuttons">
                            <div class="repeat">
                                <span style="font-size:40px;cursor:pointer;" name="<%= music.file.originalname %>">&#9834;</span>          
                              </div>

                            
                            <!-- <button class="forward" name="<%= music.file.originalname %>">+</button>
                            <button class="backward" name="<%= music.file.originalname %>">-</button> -->
                            <div class="playback">
                                <button class="speedup ghost" name="<%= music.file.originalname %>">Speed Up</button>
                                <button class="speeddown ghost" name="<%= music.file.originalname %>">Speed Down</button>
                                <!-- <h3><%= music.file.originalname %></h3> -->
                            </div>
                            <div class="playbutton">
                                <button class='play' name="<%= music.file.originalname %>" style="outline: unset;"></button>
                            </div>
                            

                            <div class="volume">
                                <div class="mutebutton" onclick="mute(this)" name="<%= music.file.originalname %>">
                                    <img src="/images/mute.png" alt="">
                                </div>
                                <form style="--val: 0.7" class="volume" name="<%= music.file.originalname %>">
                                    <input  type="range" id="v" class="volume" min="0" max="1" step="0.01" value="0.7" name="<%= music.file.originalname %>">
                                </form>
                            </div>
                            
                            
                        </div>
                </div>
        </div>
        <%});%>
    
    
        
        
        
        
        <br>
        
        
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>