<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="style1.css">

</head>
<body>

    <div class="mynav">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" width="500" height="100" class="d-inline-block align-top" alt="">
            
          </a>
  
          <button type="button" class="btn btn-outline-light"><a href="/add">Add</a></button>
    </div>
        
    <% Playlist.forEach(function(music){ %>
        <div class="mycontainer">
                <div class="image">
                    <h3><%= music.file.originalname %></h3>
                    <audio name="<%= music.file.originalname %>" 
                        ontimeupdate="timeUpdate(this);">
                        
                        <source src="uploads/<%= music.file.filename %>" type="audio/mpeg">
                            
                    </audio>
                </div>
                <div class="controls">
                        <div class="duration">
                            
                            <form style="--val: 0" class="duration" name="<%= music.file.originalname %>">
                                <input type="range" id="r" class="duration" min="0" max="500" step="0.01" value="0" name="<%= music.file.originalname %>">
                                
                              </form>
                            
                        </div>
                        <div class="controlbuttons">
                            <div class="time">
                                <span  class="currentTime" name="<%= music.file.originalname %>">0:00</span>
                                <span  class="duration" name="<%= music.file.originalname %>"> / 0:00</span>
                            </div>
                            
                            <!-- <button class="forward" name="<%= music.file.originalname %>">+</button>
                            <button class="backward" name="<%= music.file.originalname %>">-</button> -->
                            <div class="playback">
                                <button class="speedup" name="<%= music.file.originalname %>">Speed Up</button>
                                <button class="speeddown" name="<%= music.file.originalname %>">Speed Down</button>
                            </div>
                            
                            <button class='play' name="<%= music.file.originalname %>" style="outline: unset;"></button>
                            <div class="volume">
                                <form style="--val: 0.7" class="volume" name="<%= music.file.originalname %>">
                                    <input  type="range" id="v" class="volume" min="0" max="1" step="0.01" value="0.7" name="<%= music.file.originalname %>">
                                </form>
                            </div>
                            
                            
                        </div>
                </div>
        </div>
        <%});%>
    
    
        
        
        
        
        <br>
        
        
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>